/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import "http://fonts.googleapis.com/css?family=Roboto:400,700";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    color: #222;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
        border-sizing: border-box;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #4582EC;
    border-color: #4582EC;
    color: #FFFFFF;
}

.btn:hover {
    background-color: #2069E8;
    border-color: #175FDD;
    color: #FFFFFF;
}

.alert {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert_info {
    background-color: #c0d3d9;
    border-color: #ced9d1;
    color: #ffffff;
}

.alert_danger {
    background-color: #d9534f;
    border-color: #d9534f;
    color: #ffffff;
}

.alert_success {
    background-color: #3fad46;
    border-color: #3fad46;
    color: #ffffff;
}




/* board styling */

#gameboard {
    float: left;
    padding: 0 10px;
    width: 440px;
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    #gameboard {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
}

#menu_container {
    padding: 0 10px;
    width: 300px;
    float: left;
}

@media (max-width: 767px) {
    #menu_container {
        width: 100%;
    }
}

.row {
    overflow: hidden;
}

.slot {
    width: 11.11111%;
    float: left;
    text-align: center;
    height: 11.11111%;
    border: 1px solid #cccccc;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


/* border on 3x3 */
.row:nth-child(3) .slot:nth-child(n),
.row:nth-child(6) .slot:nth-child(n) {
    border-bottom: 2px solid #cccccc;
}

.slot:nth-child(3),
.slot:nth-child(6) {
    border-right: 2px solid #cccccc;
}


/* border on 9x9 */
.row:nth-child(1) .slot:nth-child(n) {
    border-top: 4px solid #cccccc;
}

.row:nth-child(9) .slot:nth-child(n) {
    border-bottom: 4px solid #cccccc;
}


.slot:nth-child(1) {
    border-left: 4px solid #cccccc;
}

.slot:nth-child(9) {
    border-right: 4px solid #cccccc;
}



/* background color on 3x3 */
.row:nth-child(n+1):nth-child(-n+3) .slot:nth-child(n+4):nth-child(-n+6) .slot_input {
    background-color: #f7f7f7;
}

.row:nth-child(n+4):nth-child(-n+6) .slot:nth-child(n+1):nth-child(-n+3) .slot_input {
    background-color: #f7f7f7;
}

.row:nth-child(n+4):nth-child(-n+6) .slot:nth-child(n+7):nth-child(-n+9) .slot_input {
    background-color: #f7f7f7;
}

.row:nth-child(n+7):nth-child(-n+9) .slot:nth-child(n+4):nth-child(-n+6) .slot_input {
    background-color: #f7f7f7;
}


.slot_input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 1.2;
    border: none;
}

.fillable {
    color: red;
}

.fillable:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    background-color: #ddd;
}

.filled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* buttons and menu */

#menu {
    margin-bottom: 10px;
}

#verify_answer {
    margin-right: 20px;
}

#message {
    margin-bottom: 10px;
    min-height: 55px;
}



/* headers and containers */

#sudoku {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 767px;
}

#title {
    text-align: center;
    margin-bottom: 20px;
}